mainColor = #008000
siteWidth = 960px
$borderStyle = dotted
 
body
  color mainColor
  border 1px $borderStyle mainColor
  max-width siteWidth

content
  padding 10px
  a
  	text-decoration none
  	:hover
  		text-decoration underline